In [40]:
import pandas as pd

# 1. 가짜 데이터 생성
data = {
    'ProductID': [101, 102, 103, 104, 101, 102, 103, 105, 106, 101],
    'ProductName': ['A', 'B', 'C', 'D', 'A', 'B', 'C', 'E', 'F', 'A'],
    'Price': [100, 200, 300, 400, 100, 200, 300, 500, 600, 100],
    'Quantity': [1, 2, 3, 4, 1, 2, 3, 5, 6, 1]
}

# 2. DataFrame 생성
df = pd.DataFrame(data)

# 3. 중복된 데이터를 일부 추가 (중복된 행 4개 추가)
df.loc[len(df.index)] = [101, 'A', 100, 1]  # 중복 행 추가
df.loc[len(df.index)] = [102, 'B', 200, 2]  # 중복 행 추가
df.loc[len(df.index)] = [103, 'C', 300, 3]  # 중복 행 추가
df.loc[len(df.index)] = [104, 'D', 400, 4]  # 중복 행 추가

# 4. CSV 파일로 내보내기
df.to_csv('sales.csv', index=False)

print("sales.csv 파일이 생성되었습니다.")

sales.csv 파일이 생성되었습니다.

In [41]:
sales_df = pd.read_csv('sales.csv')

In [42]:
sales_df

    ProductID ProductName  Price  Quantity
0         101           A    100         1
1         102           B    200         2
2         103           C    300         3
3         104           D    400         4
4         101           A    100         1
5         102           B    200         2
6         103           C    300         3
7         105           E    500         5
8         106           F    600         6
9         101           A    100         1
10        101           A    100         1
11        102           B    200         2
12        103           C    300         3
13        104           D    400         4

In [43]:
print(f'Number of duplicated rows: {sales_df.duplicated().sum()}')

Number of duplicated rows: 8

In [ ]:
# sales_df.drop_duplicates(keep=False, inplace=True) # 모든 중복 행 제거
sales_df.drop_duplicates(inplace=True, keep='first')  # 첫 번째 중복 행만 남기고 제거 -- 중복 행을 다 지우면 데이터가 너무 작아짐

In [45]:
sales_df

   ProductID ProductName  Price  Quantity
0        101           A    100         1
1        102           B    200         2
2        103           C    300         3
3        104           D    400         4
7        105           E    500         5
8        106           F    600         6

In [46]:
print(f'remained rows after removing duplicates: {len(sales_df)}')

remained rows after removing duplicates: 6