In [12]:
import pandas as pd

diamond_data = pd.read_csv('diamonds.csv')

In [13]:
diamond_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [14]:
diamond_data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [15]:
Q1 = diamond_data['carat'].quantile(0.25)
Q3 = diamond_data['carat'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [16]:
print(f'상한 : {upper_bound}, 하한 : {lower_bound}')

상한 : 2.0, 하한 : -0.5599999999999999

In [17]:
print(f'이상치 제거 전 데이터 갯수 : {len(diamond_data)}')

이상치 제거 전 데이터 갯수 : 53940

In [18]:
# 이상치 갯수 확인
outliers = diamond_data[(diamond_data['carat'] < lower_bound) | (diamond_data['carat'] > upper_bound)]
print(f'이상치 갯수 : {len(outliers)}')

이상치 갯수 : 1889

In [19]:
diamond_data = diamond_data[(diamond_data['carat'] >= lower_bound) & (diamond_data['carat'] <= upper_bound)]
print(f'이상치 제거 후 데이터 갯수 : {len(diamond_data)}')

이상치 제거 후 데이터 갯수 : 52051